html {
  overflow: hidden;
}

body {
  padding: 0;
  font-family: 'Noto Sans JP', 'TsukuARdGothic-Regular', sans-serif;
  color: $text-color;
  > div {
    position: relative;
  }
  @include bp-up(sm) {
    background-color: #0b1f49;
  }
}

.bouno-bokumetsu-app {
  min-height: 100vh;
  background-color: $sub-background-color;

  &.force-mobile {
    max-width: $max-width;
    margin: 0 auto !important;
  }
}

main {
  background-color: $main-background-color;
  height: 100vh;
}