input, input.form-control, input.form-control.is-invalid, textarea, textarea.form-control {
  color: $text-color !important;
  background-color: $sub-background-color;

  &:focus {
    background-color: $sub-background-color;
  }

  &::placeholder {
    color: $light-text-color;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $acsent-light-color inset;
    -webkit-text-fill-color: $text-color !important;
  }
}

/* bootstrap */
$theme-colors: (
  "primary": $primary-color,
  "info": $info-color,
  "danger": $danger-color,
  "light": $light-color,
  "gray": $gray,
);

div.dropdown-menu {
  border-color: $light-color;
  background-color: $sub-background-color;

  .dropdown-item {
    color: $text-color;
    &:hover, &:focus {
      background-color: $acsent-light-color;
    }
    
    &.dropdown-item-danger {
      span {
        color: $danger-color;
      }
      &:active {
        background-color: $danger-color;
        span {
          color: $white;
        }
      }
    }
  }
}

.navbar.header-nav {
  padding: 0;
  .container {
    .header-nav-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0.5rem 1rem;
    }

    > .navbar-collapse {
      .navbar-nav {
        overflow: auto;
        max-height: calc(100vh - #{$header-sm-height} - #{$mobili-adjust-height});
      }
    }
  }
}

/* react-select */
div.select {
  &__control {
    background-color: $sub-background-color;

    &--is-focused {
      box-shadow: 0 0 0 1px $red;
      border-color: $red;

      &:hover {
        border-color: $red;
      }
    }
  }

  &__single-value {
    color: $text-color;
  }

  &__menu {
    box-shadow: none;
    border: 1px solid $light-color;
    background-color: $sub-background-color;
  }

  &__option {
    &--is-focused {
      background-color: $acsent-light-color;
    }
    &--is-selected {
      background-color: $acsent-color;
    }
  }
}