input, input.form-control, input.form-control.is-invalid, textarea, textarea.form-control {
  color: $text-color !important;
  background-color: $sub-background-color;

  &:focus {
    background-color: $sub-background-color;
  }

  &::placeholder {
    color: $light-text-color;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $acsent-light-color inset;
    -webkit-text-fill-color: $text-color !important;
  }
}

/* bootstrap */
$theme-colors: (
  "primary": $primary-color,
  "info": $info-color,
  "danger": $danger-color,
  "light": $light-color,
  "gray": $gray,
);