h1.logo {
  color: rgba(0,0,0,0);
  user-select: none;
  background-repeat: no-repeat;
  background-position: center;
}

.joya {
  background-position: center;
  background-image   : url("../assets/img/bg_joya.jpg");
  background-repeat  : no-repeat;
}

.result {
  background-position: center;
  background-image   : url("../assets/img/bg_result.jpg");
  background-repeat  : no-repeat;
}