h1.logo {
  color: rgba(0,0,0,0);
  font-size: 1rem;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem;
  height: 200px;
  z-index: 100;
  position: relative;
  margin-bottom: calc(90vh - 400px);
  @include bp-down() {
    background-size: 14rem;
    height: 140px;
  }
}

.joya {
  background-image: url('../assets/img/bg_joya.jpg');
  background-position : center;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding-top: 95px;
}

.bell {
  color: rgba(0,0,0,0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-position : center;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: inherit;
  max-width: 576px;
  object-fit: none;
  @include bp-down() {
    max-width: 100%;
  }
}

.result {
  text-align: center;
  background-image: url('../assets/img/bg_result.jpg');
  background-position : center;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.kleshas {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9rem;
  text-align: center;
  line-height: 112px;
  width: 145px;
  height: 112px;
  .kleshas-text {
    font-size: 1.3rem;
    font-weight: bold;
    vertical-align: super;
  }

  &.eradicating {
    pointer-events: none;
  }
}

.button {
  display: block;
  text-align: center;
  z-index: 100;
  position: relative;
  margin-bottom: 16px;

  :link, :visited {
    display: inline-block;
    width: 95%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 40px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;

    &:hover {
      text-decoration: none;
    }
  }

  i {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }
}

.start-button {
  :link, :visited {
    color: #FFF;
    background-color: #E6AD28;

    &:hover {
      color: #FFF;
      background-color: #E6AD28;
    }
  }
}

.kleshas-count {
  font-size: 1rem;
  color: #0D5049;
  background-color: #438E85;
  border: 3px solid #0D5049;
  border-radius: 8px;
  float: right;
  width: 120px;
  height: 72px;
  margin-top: -75px;
  margin-right: 20px;

  .number {
    display: inline-block;
    font-size: 2.6rem;
    margin-right: 9px;
    color: #FFF;
    width: 74%;
    text-align: right;
    line-height: 0.7;
  }
}

#kleshasField {
  position: relative;
  height: calc(100vh - 90px);
}

.kleshas-result {
  text-align: center;
  font-size: 1.2rem;
  display: inline-block;
  padding: 24px 18px;

  border: solid 6px #E6AD28;
  position: relative;

  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #FFF;
  
  &:after{
    content: "";
    border: solid 1px #E6AD28;
    position: absolute;
    top: 2px;
    left: 2px;

    width: calc(100% - 4px);
    height: calc(100% - 4px);
  }

  .result-prefix {
    text-align: left;
  }

  .result-motto {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.5;
  }

  .result-suffix {
    text-align: right;
  }

  @include bp-down(xs) {
    font-size: 1rem;
    .result-motto {
      font-size: 1.2rem;
    }
  }
}

.kleshas-ranking {
  width: 90%;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: calc(50vh - 320px);
  background-color: #FFF;

  .kleshas-ranking-header {
    color: #FFF;
    background-color: #323232;
    font-size: 1.2rem;
    margin-bottom: 0;
    padding: 0.5rem 0;
  }

  .kleshas-ranking-body {
    text-align: left;
    padding: 18px 10px;

    li {
      list-style: none;
    }

    .kleshas-rank {
      font-weight: normal;
      text-align: center;
      display: inline-block;
      color: #FFF;
      font-size: 1.2rem;
      width: 32px;
      height: 32px;
      border-radius: 40px;
      margin-right: 8px;
      vertical-align: text-bottom;
    }

    .kleshas-1 {
      display: inline-block;
      width: 100%;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 10px;
      .kleshas-rank {
        background-color: #E6AD28;
      }
      .count-suffix {
        font-size: 1.2rem;
        font-weight: normal;
      }
    }

    .kleshas-2 {
      display: inline-block;
      width: 50%;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 15px;
      .kleshas-rank {
        background-color: #C4C4C4;
      }
      .count-suffix {
        font-size: 1rem;
        font-weight: normal;
      }
    }

    .kleshas-3 {
      display: inline-block;
      width: 50%;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 15px;
      .kleshas-rank {
        background-color: #9C7C4B;
      }
      .count-suffix {
        font-size: 1rem;
        font-weight: normal;
      }
    }
    
    .kleshas-other {
      font-size: 0.8rem;
      display: inline-block;
      color: #656565;
    }
  }
}

.twitter-button {
  :link, :visited {
    color: #FFF;
    background-color: #00ACEE;

    &:hover {
      color: #FFF;
      background-color: #00ACEE;
    }
  }
}

.retry-button {
  :link, :visited {
    color: #FFF;
    background-color: #B8AC9A;

    &:hover {
      color: #FFF;
      background-color: #B8AC9A;
    }
  }
}