$main-background-color: $white-gray;
$sub-background-color: $white;
$third-background-color: $light-gray;

$text-color: $black;
$light-text-color: $dark-gray;

$acsent-color: $red;
$acsent-light-color: #FEF8F9;

$primary-color: #23ABEC;
$light-color: #E3E3E3;
$info-color: $blue;
$danger-color: $red;